@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: white;
}

.green-submit {
    background-color: #5DE06C;
}

.text-underline {
    text-decoration: underline;
}

.icon-background-color {
    background-color: #B0CF6E;

}

.border-left {
    border-left: 5px solid red;
}